AGILE-Hexcalibur/Deliverif/nbproject/private/
AGILE-Hexcalibur/Deliverif/build/
AGILE-Hexcalibur/Deliverif/nbbuild/
AGILE-Hexcalibur/Deliverif/dist
**/nbdist/
**/nb-gradle/
AGILE-Hexcalibur/Deliverif/lib/hamcrest-all-1.3.jar
AGILE-Hexcalibur/lib/nblibraries.properties

